%hover {
    padding-bottom: 20px;
    transform: scale(1.1);
}

%padding {
    padding-left: 150px;
    padding-right: 70px;
     padding-top: 70px;
     padding-bottom: 30px;
    }

 %display {
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
 }

 %font {
    font-size: 30px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px ;
    color: black;
    background-color: rgb(243, 237, 237);
    margin: 50px 300px;
 }
